# PyCitySchools Analysis

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# Declare variables and routes to csv files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#Declare variables/calculate total number of schools, students, & budget/store values
total_students = student_data["Student ID"].count()
total_schools = school_data["School ID"].count()
total_school_budget = school_data["budget"].sum()

In [4]:
#Calculate the average math and reading score
average_math_scores = complete_df["math_score"].mean()
average_reading_scores = complete_df["reading_score"].mean()

In [5]:
#Declare variables w/ conditionals, calculate percentage of students passing reading
passing_reading_scores = complete_df.loc[complete_df["reading_score"] >= 70, :]
passed_reading = passing_reading_scores["Student ID"].count()
reading_percentage = (passed_reading / total_students) *100

In [6]:
#Declare variables w/ conditionals, calculate percentage of students passing math
passing_math_scores = complete_df.loc[complete_df["math_score"] >= 70, :]
passed_math = passing_math_scores["Student ID"].count()
math_percentage = (passed_math / total_students) * 100

math_percentage

74.9808526933878

In [7]:
#Declare variables w/ conditionals, calculate students passing both math and reading
pass_both = complete_df.loc[(complete_df["math_score"] >= 70) & (complete_df["reading_score"] >= 70), :]
passing_both = pass_both["Student ID"].count()

percent_passed_both = (passing_both / total_students) * 100

In [8]:
#Create an associated Dataframe
initial_df = pd.DataFrame({"Total Schools": [total_schools],
                           "Total Students": [total_students],
                           "Total Budget": [total_school_budget],
                           "Average Math Score": [average_math_scores],
                           "Average Reading Score": [average_reading_scores],
                           "Percent Passing Math": [math_percentage],
                           "Percent Passing Reading": [reading_percentage],
                           "Percent Overall Passing": [percent_passed_both]})
initial_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [9]:
#formatting to clean up table presentation

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [10]:
#will use this in future loops; create a dataframe -- use school as index for breakdown
school_summary_df = school_data[["school_name", "type", "size", "budget",]].set_index("school_name").sort_values("school_name")
school_summary_df.index.name = "School Name"
school_summary_df

                           type  size   budget
School Name
Bailey High School     District  4976  3124928
Cabrera High School     Charter  1858  1081356
Figueroa High School   District  2949  1884411
Ford High School       District  2739  1763916
Griffin High School     Charter  1468   917500
Hernandez High School  District  4635  3022020
Holden High School      Charter   427   248087
Huang High School      District  2917  1910635
Johnson High School    District  4761  3094650
Pena High School        Charter   962   585858
Rodriguez High School  District  3999  2547363
Shelton High School     Charter  1761  1056600
Thomas High School      Charter  1635  1043130
Wilson High School      Charter  2283  1319574
Wright High School      Charter  1800  1049400

In [11]:
#create column totaling the # of students per school
# students_per_school = school_summary_df["size"].sum()
# students_per_school

In [12]:
#Clarify categories in table as School Type, Total # Students, and Total School Budget
organized_school_summary_df = school_summary_df.rename(columns ={"type": "School Type", "size": "Total Students", "budget": "Total Student Budget"})

organized_school_summary_df

                      School Type  Total Students  Total Student Budget
School Name
Bailey High School       District            4976               3124928
Cabrera High School       Charter            1858               1081356
Figueroa High School     District            2949               1884411
Ford High School         District            2739               1763916
Griffin High School       Charter            1468                917500
Hernandez High School    District            4635               3022020
Holden High School        Charter             427                248087
Huang High School        District            2917               1910635
Johnson High School      District            4761               3094650
Pena High School          Charter             962                585858
Rodriguez High School    District            3999               2547363
Shelton High School       Charter            1761               1056600
Thomas High School        Charter            1635               1043130
Wilson High School        Charter            2283               1319574
Wright High School        Charter            1800               1049400

In [13]:
#use a Groupby before assigning categories per school???
#define new reference variable for Total Students and Total School Budget to calculate Per Student Budget
total_students_per_school = organized_school_summary_df["Total Students"]
total_budget_per_school = organized_school_summary_df["Total Student Budget"]

student_budget = total_budget_per_school / total_students_per_school
student_budget

School Name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [14]:
#create new column in dataframe table
#adjust table formatting later
organized_school_summary_df["Per Student Budget"] = student_budget
organized_school_summary_df

,School Type,Total Students,Total Student Budget,Per Student Budget
School Name,,,,
Bailey High School,District,4976,3124928,628.0
Cabrera High School,Charter,1858,1081356,582.0
Figueroa High School,District,2949,1884411,639.0
Ford High School,District,2739,1763916,644.0
Griffin High School,Charter,1468,917500,625.0
Hernandez High School,District,4635,3022020,652.0
Holden High School,Charter,427,248087,581.0
Huang High School,District,2917,1910635,655.0
Johnson High School,District,4761,3094650,650.0
Pena High School,Charter,962,585858,609.0
Rodriguez High School,District,3999,2547363,637.0
Shelton High School,Charter,1761,1056600,600.0
Thomas High School,Charter,1635,1043130,638.0
Wilson High School,Charter,2283,1319574,578.0
Wright High School,Charter,1800,1049400,583.0

In [15]:
#Define new variables, calculate average math score per school
#I think use Groupby function here to separate score values by school for further calculations
grouped_school_summary_df = complete_df.groupby("school_name")
grouped_school_summary_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [16]:
#Define new variables, calculate percent of students passing math per school
math_avg_per_school = grouped_school_summary_df["math_score"].mean()
math_avg_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [17]:
#create new column in output table
organized_school_summary_df["Average Math Score"] = math_avg_per_school
organized_school_summary_df

,School Type,Total Students,Total Student Budget,Per Student Budget,Average Math Score
School Name,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432
Cabrera High School,Charter,1858,1081356,582.0,83.061895
Figueroa High School,District,2949,1884411,639.0,76.711767
Ford High School,District,2739,1763916,644.0,77.102592
Griffin High School,Charter,1468,917500,625.0,83.351499
Hernandez High School,District,4635,3022020,652.0,77.289752
Holden High School,Charter,427,248087,581.0,83.803279
Huang High School,District,2917,1910635,655.0,76.629414
Johnson High School,District,4761,3094650,650.0,77.072464
Pena High School,Charter,962,585858,609.0,83.839917
Rodriguez High School,District,3999,2547363,637.0,76.842711
Shelton High School,Charter,1761,1056600,600.0,83.359455
Thomas High School,Charter,1635,1043130,638.0,83.418349
Wilson High School,Charter,2283,1319574,578.0,83.274201
Wright High School,Charter,1800,1049400,583.0,83.682222

In [18]:
#Define new variables, calculate average reading score per school
reading_avg_per_school = grouped_school_summary_df["reading_score"].mean()
reading_avg_per_school

#create column in table output
organized_school_summary_df["Average Reading Score"] = reading_avg_per_school
organized_school_summary_df

,School Type,Total Students,Total Student Budget,Per Student Budget,Average Math Score,Average Reading Score
School Name,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020
Ford High School,District,2739,1763916,644.0,77.102592,80.746258
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412
Holden High School,Charter,427,248087,581.0,83.803279,83.814988
Huang High School,District,2917,1910635,655.0,76.629414,81.182722
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394
Pena High School,Charter,962,585858,609.0,83.839917,84.044699
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000

In [24]:
#Define new variables, calculate percent of students passing math per school
#same .loc conditional to find passing scores as in district summary?
passing_math_df = complete_df.loc[complete_df["math_score"] >=70, :]
passing_math_per_school = passing_math_df.groupby("school_name")
count_passing_math = passing_math_per_school.count()["student_name"]
percent_passing_math = count_passing_math / organized_school_summary_df["Total Students"] * 100
percent_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [26]:
#Repeat .loc conditional and THEN groupby statement to calculate percent of students passing reading per school
passing_reading_df = complete_df.loc[complete_df["reading_score"] >=70, :]
passing_reading_per_school = passing_reading_df.groupby("school_name")
count_passing_reading = passing_reading_per_school.count() ["student_name"]
percent_passing_reading = count_passing_reading / organized_school_summary_df["Total Students"] * 100
percent_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#Utilize bin function

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
#utilize bin function

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type